---
layout: layouts/base.njk
title: Co możemy zaoferować
---

<div class="container">
  <h1 class="mb-4">Co możemy zaoferować</h1>


          <blockquote class="blockquote my-4 text-center">
            <p class="mb-0"><em>"Kto kocha to co robi, nigdy nie pracuje"</em></p>
            <footer class="blockquote-footer mt-2">Konfucjusz <cite title="Starożytny filozof chiński">(przypisywane)</cite></footer>
          </blockquote>
          
  
  <div class="row mb-5" id="masaz">
    <div class="col-lg-6">
      <h2>Masaż</h2>
      <div class="mb-4">
        <img src="/assets/images/masaż.jpg" alt="Masaż tajski i terapia punktów Marma" class="img-fluid rounded shadow-sm">
      </div>
      <p>Oferuję sesj współczesnego masażu tajskiego z elementami osteothai oraz sesje terapii punktów marma.</p>
      <a href="/kontakt/" class="btn btn-primary">Umów się na masaż</a>
    </div>
    <div class="col-lg-6">
      <div class="card h-100">
        <div class="card-body">
          <h4 class="card-title mb-3">Współczesny masaż tajski / Osteothai</h4>
          <p>Masaż tajski jest pracą ze strukturami ciała (mięśnie, ścięgna, powięź, stawy). Mobilizuje je, odżywia, sprawia, że są bardziej elastyczne. Na poziomie niematerialnym daje przestrzeń do bycia tu i teraz i czerpania z tego.</p>
          <ul>
            <li>Na sesjach doświadczysz dedykowanego dla Ciebie połączenia tradycyjnego masażu tajskiego oraz masażu dynamicznego</li>
            <li>Masaż daje to wszystko co jogiczne asany (ale zabiera Ci mniej energii) oraz uważny dotyk/akupresurę</li>
            <li>Masaż dynamiczny pozwala ciału odczuć zalety wibracji, fal i ruchu</li>
          </ul>
          
          <h4 class="card-title mt-4 mb-3">Terapia punktów Marma</h4>
          <p>Marma terapia to technika masażu pochodząca z tradycyjnej indyjskiej medycyny Ayurveda. Skupia się na pracy z określonymi punktami w ciele, które są połączeniem ciała, umysłu i duszy.</p>
          <ul>
            <li>Stymulacja punktów Marma wpływa na przepływ energii życiowej (prany) i może oddziaływać na powiązane organy i systemy</li>
            <li>Masaż punktów Marma może być stosowany do pomocy przy różnych dolegliwościach fizycznych i psychicznych</li>
            <li>Sesja masażu jest połączona z olejowaniem ciała dedykowanymi ziołowymi olejami</li>
          </ul> 

          <h4 class="card-title mt-4 mb-3">Przygotowanie do masażu</h4>
          <ul>
            <li>Zdejmij zegarki, biżuterię i inne przedmioty, które mogą utrudniać masaż</li>
            <li>Powstrzymaj się od obfitego jedzenia i picia na kilka godzin przed sesją</li>
          </ul>
          
          <h5 class="card-title mt-4">Korzyści z masażu</h5>
          <p class="card-text">Regularny masaż pomaga zmniejszyć napięcie mięśniowe, poprawia krążenie krwi, redukuje stres i wspiera ogólne dobre samopoczucie. Techniki tajskie i ajurwedyjskie dodatkowo harmonizują przepływ energii w ciele, wspierając zarówno fizyczny jak i psychiczny aspekt zdrowia.</p>
          
          <h5 class="card-title mt-4">Dokąd na masaż</h5>

          <p class="card-text">Na terapię puktów marma zapraszam do <a href="https://przestrzendobra.pl/gabinety-masazu/">Przestrzeni Dobra</a> a na współczesny
          masaż tasjki zapraszam do mojego domu lub Przestrzeni Dobra</p> 

          <h5 class="card-title mt-4">Ajurweda może pomóc jeszcze bardziej :)</h5>

 <p>Jeżeli Ajurweda z Tobą współgra polecam pogłębić ten stan z <a href="https://www.facebook.com/profile.php?id=61555388940943">tą osobą :)</a> </p>


          <div class="alert alert-info mt-3">
            <strong>Uwaga:</strong> Istnieją sytuacje, gdy masaż nie jest zalecany (wysoka gorączka, choroby zakaźne, świeże rany, złamania, skręcenia, zwichnięcia). W przypadku wątpliwości, skonsultuj się z lekarzem.
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row mb-5" id="muzyka">
    <div class="col-lg-6">
      <h2>Muzyka</h2>
      <div class="mb-4">
        <img src="/assets/images/muzyka.jpg" alt="Usługi muzyczne" class="img-fluid rounded shadow-sm">
      </div>
      <p>Warsztaty "samomuzykogrania" lub współgranie w zespole. 
      </p>
      <a href="/kontakt/" class="btn btn-primary">Rozegrajmy to :)</a>
    </div>
    <div class="col-lg-6">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Co w duszy gra?</h5>
          <ul class="mb-4">
            <li>Głównie gitary. Elektryczne i klasyczne. Ostatnio też basowe.</li>
            <li>Wspomagane dźwiękami generowanymi cyfrowo. Elektron Model:Samples. Arturia Microfreak. Wcześniej różnego rodzaju wolne oprograemowanie dostępne na Linux (np. Hydrogen, Calf)</li>
            <li>Zapętlanie czasu. Sooper Loooper. Boss RC-600</li>
            <li>Dawniej częściej w zespołach ("Nie rozumiem", "Dzień Rebeli"). W teraźniejszości częściej sam.</li>
          </ul>
          
          <h5 class="card-title mt-4">Rozmowy i warszaty</h5>
          <p class="card-text">Jeżeli jesteś ciekaw jak można tworzyć muzykę przy użyciu kilku narzędzi, które zastępowałyby w razie potrzeby współtwórców/kolegów/przyjaciół - z chęcią o tym porozmiawiam, pokażę, zrobię warsztat. </p>
          <p class="card-text">Jeżeli chcesz to, co nagrałeś poskładać w wideo/clip, również mogę pomóc 
          (ja do tego używam i polecam min. <a href="https://www.blender.org/">Blender3d</a> i <a href="https://ardour.org/">Ardour</a>) </p>
          <p class="card-text">Przykład <a href="https://www.youtube.com/watch?v=0OLXeJ0_Enk">"teledysku"</a>, gdzie wykorzystałem Blender3d, szczyptę muzyki oraz obrazy generowane wczesnymi wersjami SI :) </p>
          <p class="card-text">Więcej przykładów na
            <a href="{{ site.social.muzyka.facebook }}" target="_blank" class="link-primary" title="Facebook - Muzyka">
              <i class="bi bi-facebook"></i> Facebook
            </a>, 
            <a href="{{ site.social.muzyka.youtube }}" target="_blank" class="link-danger" title="YouTube">
              <i class="bi bi-youtube"></i> YouTube
            </a> oraz
            <a href="{{ site.social.muzyka.soundcloud }}" target="_blank" class="link-warning" title="SoundCloud">
              <i class="bi bi-soundwave"></i> SoundCloud
            </a>.
          </p>
          
        </div>
      </div>
    </div>
  </div>
  
  <div class="row mb-5" id="programowanie">
    <div class="col-lg-6">
      <h2>Programowanie</h2>
      <div class="mb-4">
        <img src="/assets/images/programowanie.jpg" alt="Usługi programistyczne" class="img-fluid rounded shadow-sm">
      </div>
      <p>Usługi konsultacji w zakresie systemów informatycznycznych oraz tworzenia oprogramowania</p>
      <a href="/kontakt/" class="btn btn-primary">Programowanie. Tworzenie. Konsultacje.</a>
    </div>
    <div class="col-lg-6">
      <div class="card h-100">
        <div class="card-body">
          
          <h5 class="card-title mt-4">Doświadczenie / technologie</h5>
          <p class="card-text">Wieloletnie doświadczenie jako programista, architekt oraz leader zespołu.</p>
          
          <p class="card-text">Systemy wspomagające pracę setek użytkowników oraz aplikacje "domowego" użytku (np. oprogramowanie do własnej produkcji nożnego kontrolera midi opartego na Arduino) </p>
          <p class="card-text">Frontend, backend i midleware. Języki niskiego i wysokiego poziomu. Aplikacje desktop, usługi web, obsługa mikrokontrolerów.</p>
          <p class="card-text">Sztuczna inteligencja i automatyka. Przy okazji teoria, ale głównie praktyka. </p>
          
          <p class="card-text">Poniżej kilka przykładów, ponieważ większości systemów, które współtworzyłem nie da się łatwo (lub nie wolno) zademonstorwać :). </p>
          <p>
          W ramach egzaminów na specjalistę terapii marma stworzyłem <a href="https://marmaapps.pl/"> stronę</a>  
          bazującą na wybranych rozdziałach książki dr Vasanta Lad "Marma Points of Ayurveda". 
          Jeżeli chcesz poświęcić jedną  ☕  i poczytać o działaniu interesujących Cię punktów marma to zapraszam. 
          Jeżeli interesuje Cię bardzie praktyka niż teoria to <a href="/uslugi/#masaz">oczywiście zapraszam </a>  
          </p>

          <p>
          Studiując podyplomowo automatykę zrealizowałem urządzenie Autodkurz - prototyp automatu do sprzątania :). 
           <a href="https://www.youtube.com/watch?v=dqcemzR-NXU">Oto film</a> z testów wczesnej wersji. Robot jeszcze niezabudowany - możecie podejrzeć co jest po maską. 
          Jeżeli interesują Cię szczegóły (kod źródłowy, praca dyplomowa), możesz spojrzeć na <a href="https://bitbucket.org/wokoziej/automatyka-studia/src/master/">bitbucket</a>
          </p>


        </div>
      </div>
    </div>
  </div>
</div> 