<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="{{ '/' | url }}">{{ site.name }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          {% for item in navigation.main %}
            <li class="nav-item">
              <a class="nav-link {% if page.url == item.url %}active{% endif %}" href="{{ item.url | url }}">{{ item.text }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</header> 